<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.dao.BillDao">

  <insert id="insertBills" parameterType="java.util.List" >
  	insert into owe_all_tmp (groupid,user_state,	user_name,融合固话,	客户标识	,account_name,	account_state,	stattime,	bill_one,
  		bill_two,	bill_three,	bill_three_id,	bill_three_qf)
  	values
  	<foreach collection="list" item="item" index="index" separator=",">
   (#{item.groupid},
    #{item.user_state},
    #{item.user_name},
    #{item.融合固话},
    #{item.客户标识},
    #{item.account_name},
    #{item.account_state},
    #{item.stattime},
    #{item.bill_one},
    #{item.bill_two},
    #{item.bill_three},
    #{item.bill_three_id},
    #{item.bill_three_qf}
    )
    </foreach>
  </insert>
  <select id="selectAnalyze"  resultType="com.demo.entity.Analyze">
		SELECT  l.lid id, nl.nsum lsum,nl.ntime ltime,n.nsum nsum,n.ntime ntime,l.lsum sum,l.ltime time, (nl.nsum-l.lsum) s  
		FROM   owe_${table}_last   l    
		LEFT JOIN owe_${table}_now  n  ON   l.lid=n.nid
		LEFT JOIN  owe_${table0}_now  nl  ON  nl.nid=l.lid
  </select>
  
  	<update id="excuteSql"  parameterType="java.lang.String">
  			${sql} 
  	</update>
</mapper>