<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.dao.BillDao">

  <insert id="insertBills" parameterType="java.util.List" >
  	insert into owe_all_tmp (groupid,user_state,	user_name,融合固话,	客户标识	,account_name,	account_state,	stattime,	bill_one,
  		bill_two,	bill_three,	bill_three_id,	bill_three_qf)
  	values
  	<foreach collection="list" item="item" index="index" separator=",">
   (#{item.groupid},
    #{item.user_state},
    #{item.user_name},
    #{item.融合固话},
    #{item.客户标识},
    #{item.account_name},
    #{item.account_state},
    #{item.stattime},
    #{item.bill_one},
    #{item.bill_two},
    #{item.bill_three},
    #{item.bill_three_id},
    #{item.bill_three_qf}
    )
    </foreach>
  </insert>
  <select id="selectAnalyze"  resultType="com.demo.entity.Analyze">
			SELECT lid id, lsum,ltime,nsum,ntime,lsum sum,ltime time FROM owe_${table}_view_last
			LEFT JOIN owe_${table}_view_now 
			ON  lid=nid
  </select>
  
  	<update id="excuteSql"  parameterType="java.lang.String">
  			${sql} 
  	</update>
</mapper>